In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

import tensorflow as tf

#  Import and read the charity_data.csv.


import psycopg2
import pandas as pds
from sqlalchemy import create_engine

conn = psycopg2.connect(dbname='postgres', user='postgres', password='bootcamp', host='localhost', port='5432')
clean_data_df = pds.read_sql("select * from \"final_data\"", conn);
clean_data_df.set_index('index')
                  
                  
# clean_data_df = pd.read_csv("cleaned_data.csv", index_column="Unnamed:0")
# clean_data_df.head()

,training_hours,target,gender_Female,gender_Male,gender_Other,relevent_experience_Has relevent experience,relevent_experience_No relevent experience,enrolled_university_Full time course,enrolled_university_Part time course,enrolled_university_no_enrollment,...,company_size_500-999,company_size_1000-4999,company_size_5000-9999,company_size_10000+,company_type_Early Stage Startup,company_type_Funded Startup,company_type_NGO,company_type_Public Sector,company_type_Pvt Ltd,company_type_Other
index,,,,,,,,,,,,,,,,,,,,,
1,47,0,0,1,0,1,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
4,8,0,0,1,0,1,0,0,0,1,...,0,0,1,0,0,0,0,0,1,0
7,18,1,0,1,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
8,46,1,0,1,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
11,108,0,0,1,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8938,15,0,0,1,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
8940,13,0,0,1,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
8943,37,0,0,1,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
8950,66,0,0,1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,1,0
8952,15,0,1,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [2]:
# Split our preprocessed data into our features and target arrays
y = clean_data_df["target"].values
X = clean_data_df.drop(["target"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)