In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
clean_data_df = pd.read_csv("cleaned_data.csv",index_col="Unnamed: 0")
clean_data_df.head()

,city_development_index,training_hours,target,gender_Female,gender_Male,gender_Other,relevent_experience_Has relevent experience,relevent_experience_No relevent experience,enrolled_university_Full time course,enrolled_university_Part time course,...,company_type_NGO,company_type_Other,company_type_Public Sector,company_type_Pvt Ltd,last_new_job_1,last_new_job_2,last_new_job_3,last_new_job_4,last_new_job_>4,last_new_job_never
1,0.776,47,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.767,8,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
7,0.762,18,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
8,0.920,46,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
11,0.920,108,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [2]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [3]:
# define the  feaetures set
X=clean_data_df.copy()
X=X.drop("target",axis=1)
X.head()

,city_development_index,training_hours,gender_Female,gender_Male,gender_Other,relevent_experience_Has relevent experience,relevent_experience_No relevent experience,enrolled_university_Full time course,enrolled_university_Part time course,enrolled_university_no_enrollment,...,company_type_NGO,company_type_Other,company_type_Public Sector,company_type_Pvt Ltd,last_new_job_1,last_new_job_2,last_new_job_3,last_new_job_4,last_new_job_>4,last_new_job_never
1,0.776,47,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.767,8,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
7,0.762,18,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
8,0.920,46,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
11,0.920,108,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [4]:
# define target set
y=clean_data_df["target"].ravel()
y[:5]

array([0., 0., 1., 1., 0.])

In [5]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [6]:
from collections import Counter
Counter(y_train)

Counter({0.0: 2654, 1.0: 493})

In [23]:
from imblearn.combine import SMOTEENN
smote_enn = SMOTEENN(random_state=0)
X_resampled, y_resampled = smote_enn.fit_resample(X, y)

In [24]:
#Create a StandardScaler instance
scaler=StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_resampled)
# Scaling the data.
X_train_scaled = X_scaler.transform(X_resampled)
X_test_scaled = X_scaler.transform(X_test)

In [25]:
Counter(y_resampled)

Counter({0.0: 1156, 1.0: 3326})

In [26]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=500, random_state=78) 

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_resampled)

In [27]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

In [28]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)
# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actually staying", "Actually leaving"], columns=["Predicted staying", "Predicted leaving"])

cm_df

                  Predicted staying  Predicted leaving
Actually staying                745                122
Actually leaving                 13                170

In [29]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
acc_score

0.8714285714285714

In [33]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

                  Predicted staying  Predicted leaving
Actually staying                745                122
Actually leaving                 13                170

Accuracy Score : 0.8714285714285714
Classification Report
              precision    recall  f1-score   support

         0.0       0.98      0.86      0.92       867
         1.0       0.58      0.93      0.72       183

    accuracy                           0.87      1050
   macro avg       0.78      0.89      0.82      1050
weighted avg       0.91      0.87      0.88      1050

In [34]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([0.22872815, 0.10635418, 0.00809451, 0.01016032, 0.00142455,
       0.01031765, 0.01047236, 0.00881631, 0.00803683, 0.01614372,
       0.0273971 , 0.02457371, 0.00353721, 0.00195969, 0.0023724 ,
       0.00569512, 0.00226941, 0.00254368, 0.01160072, 0.00170184,
       0.01428679, 0.00799428, 0.0077155 , 0.00655554, 0.00782135,
       0.00848348, 0.0076855 , 0.00572699, 0.00291656, 0.00537317,
       0.00537293, 0.00260812, 0.00979852, 0.01182751, 0.01138502,
       0.01185061, 0.00845327, 0.0074639 , 0.01114776, 0.00158514,
       0.02958668, 0.01732548, 0.02823101, 0.01372066, 0.02056573,
       0.03436758, 0.01151966, 0.01021255, 0.01455834, 0.00531801,
       0.00931793, 0.00578269, 0.00158228, 0.01322346, 0.02409438,
       0.03530338, 0.02671086, 0.01063021, 0.01002787, 0.02281709,
       0.00685274])

In [35]:
# We can sort the features by their importance.
x=zip(importances,X.columns)
sorted(x,reverse=True)

[(0.22872815225354987, 'city_development_index'),
 (0.10635418438173284, 'training_hours'),
 (0.03530338485421694, 'last_new_job_1'),
 (0.03436757688814349, 'company_size_50-99'),
 (0.02958667622022194, 'experience_>20'),
 (0.028231011904345217, 'company_size_100-500'),
 (0.02739709570030548, 'education_level_Graduate'),
 (0.026710858047031175, 'last_new_job_2'),
 (0.024573712548957766, 'education_level_Masters'),
 (0.0240943757942492, 'company_type_Pvt Ltd'),
 (0.02281709262450537, 'last_new_job_>4'),
 (0.020565727048122207, 'company_size_10000+'),
 (0.017325478538127766, 'company_size_10/49'),
 (0.016143721447318588, 'enrolled_university_no_enrollment'),
 (0.014558344708201469, 'company_size_<10'),
 (0.014286787676198015, 'experience_10'),
 (0.013720662063291976, 'company_size_1000-4999'),
 (0.013223463333346615, 'company_type_Public Sector'),
 (0.011850609720502293, 'experience_6'),
 (0.011827514310540101, 'experience_4'),
 (0.011600722814099695, 'major_discipline_STEM'),
 (0.011519659412302236, 'company_size_500-999'),
 (0.011385020143928922, 'experience_5'),
 (0.011147758546122481, 'experience_9'),
 (0.010630210981154686, 'last_new_job_3'),
 (0.010472360348671021, 'relevent_experience_No relevent experience'),
 (0.010317653082145514, 'relevent_experience_Has relevent experience'),
 (0.010212554079227554, 'company_size_5000-9999'),
 (0.010160319628483462, 'gender_Male'),
 (0.010027869796130072, 'last_new_job_4'),
 (0.009798518749844073, 'experience_3'),
 (0.009317931650151877, 'company_type_Funded Startup'),
 (0.008816309953238162, 'enrolled_university_Full time course'),
 (0.008483483679298591, 'experience_15'),
 (0.008453271811160595, 'experience_7'),
 (0.008094514533267089, 'gender_Female'),
 (0.008036828615914798, 'enrolled_university_Part time course'),
 (0.007994281437416895, 'experience_11'),
 (0.007821349410175536, 'experience_14'),
 (0.007715504626404771, 'experience_12'),
 (0.00768550184290001, 'experience_16'),
 (0.007463896233073785, 'experience_8'),
 (0.0068527358338745705, 'last_new_job_never'),
 (0.006555539571219474, 'experience_13'),
 (0.005782689893314335, 'company_type_NGO'),
 (0.005726991170745424, 'experience_17'),
 (0.005695124259623705, 'major_discipline_Humanities'),
 (0.0053731655339993795, 'experience_19'),
 (0.00537292848438284, 'experience_2'),
 (0.005318012072637643, 'company_type_Early Stage Startup'),
 (0.0035372089594119063, 'education_level_Phd'),
 (0.002916556796822125, 'experience_18'),
 (0.002608123629392983, 'experience_20'),
 (0.0025436761074052318, 'major_discipline_Other'),
 (0.0023723952498034247, 'major_discipline_Business Degree'),
 (0.002269406731183235, 'major_discipline_No Major'),
 (0.0019596890949216705, 'major_discipline_Arts'),
 (0.0017018390883958936, 'experience_1'),
 (0.0015851355938337694, 'experience_<1'),
 (0.0015822764180306482, 'company_type_Other'),
 (0.0014245540729816157, 'gender_Other')]