In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
clean_data_df = pd.read_csv("cleaned_data.csv",index_col="Unnamed: 0")
clean_data_df.head()

,city_development_index,training_hours,target,gender_Female,gender_Male,gender_Other,relevent_experience_Has relevent experience,relevent_experience_No relevent experience,enrolled_university_Full time course,enrolled_university_Part time course,...,company_type_NGO,company_type_Other,company_type_Public Sector,company_type_Pvt Ltd,last_new_job_1,last_new_job_2,last_new_job_3,last_new_job_4,last_new_job_>4,last_new_job_never
1,0.776,47,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.767,8,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
7,0.762,18,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
8,0.920,46,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
11,0.920,108,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [2]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [3]:
# define the  feaetures set
X=clean_data_df.copy()
X=X.drop("target",axis=1)
X.head()

,city_development_index,training_hours,gender_Female,gender_Male,gender_Other,relevent_experience_Has relevent experience,relevent_experience_No relevent experience,enrolled_university_Full time course,enrolled_university_Part time course,enrolled_university_no_enrollment,...,company_type_NGO,company_type_Other,company_type_Public Sector,company_type_Pvt Ltd,last_new_job_1,last_new_job_2,last_new_job_3,last_new_job_4,last_new_job_>4,last_new_job_never
1,0.776,47,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.767,8,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
7,0.762,18,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
8,0.920,46,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
11,0.920,108,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [4]:
# define target set
y=clean_data_df["target"].ravel()
y[:5]

array([0., 0., 1., 1., 0.])

In [5]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [6]:
#Create a StandardScaler instance
scaler=StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)
# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [7]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=500, random_state=78) 

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [8]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

In [9]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)
# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actually staying", "Actually leaving"], columns=["Predicted staying", "Predicted leaving"])

cm_df

                  Predicted staying  Predicted leaving
Actually staying                838                 29
Actually leaving                132                 51

In [10]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
acc_score

0.8466666666666667

In [11]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

                  Predicted staying  Predicted leaving
Actually staying                838                 29
Actually leaving                132                 51

Accuracy Score : 0.8466666666666667
Classification Report
              precision    recall  f1-score   support

         0.0       0.86      0.97      0.91       867
         1.0       0.64      0.28      0.39       183

    accuracy                           0.85      1050
   macro avg       0.75      0.62      0.65      1050
weighted avg       0.82      0.85      0.82      1050

In [12]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([0.28133487, 0.17322357, 0.01031717, 0.01074055, 0.00196518,
       0.01039754, 0.01035914, 0.00973703, 0.00863115, 0.01226822,
       0.0165529 , 0.01678425, 0.00505102, 0.00261319, 0.00381912,
       0.00756131, 0.00270744, 0.00439614, 0.0099068 , 0.00311273,
       0.01077569, 0.00880875, 0.00830852, 0.00806007, 0.00637828,
       0.00991913, 0.00728991, 0.00829476, 0.00282948, 0.00668725,
       0.00644776, 0.00292472, 0.00926106, 0.0084697 , 0.01036644,
       0.01033001, 0.00969372, 0.00757897, 0.00592112, 0.0036146 ,
       0.01764684, 0.01424512, 0.01855518, 0.01414996, 0.01731539,
       0.01914803, 0.0113551 , 0.00821477, 0.0094075 , 0.00670668,
       0.00915227, 0.00841858, 0.00315668, 0.00747937, 0.01512072,
       0.01659835, 0.01209147, 0.00726285, 0.00801396, 0.01474831,
       0.00777364])

In [13]:
# We can sort the features by their importance.
x=zip(importances,X.columns)
sorted(x,reverse=True)

[(0.281334865899091, 'city_development_index'),
 (0.1732235693100496, 'training_hours'),
 (0.019148033397059686, 'company_size_50-99'),
 (0.018555184214108754, 'company_size_100-500'),
 (0.017646837475063657, 'experience_>20'),
 (0.017315392321240537, 'company_size_10000+'),
 (0.016784252043938973, 'education_level_Masters'),
 (0.016598347417148263, 'last_new_job_1'),
 (0.01655290415881218, 'education_level_Graduate'),
 (0.015120720947111999, 'company_type_Pvt Ltd'),
 (0.014748307207866485, 'last_new_job_>4'),
 (0.014245123701493289, 'company_size_10/49'),
 (0.014149962795968377, 'company_size_1000-4999'),
 (0.012268219916075077, 'enrolled_university_no_enrollment'),
 (0.012091474150942812, 'last_new_job_2'),
 (0.011355099481823661, 'company_size_500-999'),
 (0.0107756896448112, 'experience_10'),
 (0.010740549573722084, 'gender_Male'),
 (0.010397541106368964, 'relevent_experience_Has relevent experience'),
 (0.010366437255509852, 'experience_5'),
 (0.010359136676088796, 'relevent_experience_No relevent experience'),
 (0.010330005770088267, 'experience_6'),
 (0.010317173924579068, 'gender_Female'),
 (0.009919133266359974, 'experience_15'),
 (0.009906803465648265, 'major_discipline_STEM'),
 (0.009737025813122965, 'enrolled_university_Full time course'),
 (0.009693717207520287, 'experience_7'),
 (0.009407504729588527, 'company_size_<10'),
 (0.009261055170243462, 'experience_3'),
 (0.009152265970577481, 'company_type_Funded Startup'),
 (0.008808749420833713, 'experience_11'),
 (0.008631147292167183, 'enrolled_university_Part time course'),
 (0.008469697158802261, 'experience_4'),
 (0.008418577629347612, 'company_type_NGO'),
 (0.008308518153181578, 'experience_12'),
 (0.00829476112044719, 'experience_17'),
 (0.008214765420843902, 'company_size_5000-9999'),
 (0.008060067961767442, 'experience_13'),
 (0.008013962743266613, 'last_new_job_4'),
 (0.00777363960969825, 'last_new_job_never'),
 (0.007578967626834004, 'experience_8'),
 (0.007561305472056767, 'major_discipline_Humanities'),
 (0.007479366573487395, 'company_type_Public Sector'),
 (0.007289912030455772, 'experience_16'),
 (0.007262851045602938, 'last_new_job_3'),
 (0.0067066800977380065, 'company_type_Early Stage Startup'),
 (0.006687245957598058, 'experience_19'),
 (0.006447755481852956, 'experience_2'),
 (0.0063782813393436, 'experience_14'),
 (0.0059211218654246995, 'experience_9'),
 (0.00505102312879952, 'education_level_Phd'),
 (0.0043961402889761214, 'major_discipline_Other'),
 (0.0038191184069911914, 'major_discipline_Business Degree'),
 (0.003614599534456979, 'experience_<1'),
 (0.0031566773062200668, 'company_type_Other'),
 (0.0031127277870022316, 'experience_1'),
 (0.0029247164842940783, 'experience_20'),
 (0.002829484642461674, 'experience_18'),
 (0.002707442298933364, 'major_discipline_No Major'),
 (0.0026131868351221064, 'major_discipline_Arts'),
 (0.001965175273969107, 'gender_Other')]